# Check that all links are valid, i.e. not broken
name: Check links

# Check links on the 21st day of the month.
# 21st as the first letter of this repo is the 21st letter in the alphabet.
on:
  push:
    paths:
      - '**.md'
      - .github/workflows/check_links.yaml
      - mlc_config.json
  pull_request:
    paths:
      - '**.md'
      - .github/workflows/check_links.yaml
      - mlc_config.json
  schedule:
  - cron: "0 0 21 * *"

jobs:
  check-links:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v4

      - uses: gaurav-nelson/github-action-markdown-link-check@v1
        with:
          use-quiet-mode: 'yes'
          use-verbose-mode: 'no'

