# Create, build and deploy the website
name: Create website

on:
  push:

# Needed by Zensical
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x

      - name: Install Python libraries
        run: pip install pyyaml zensical

      - name: Create software table
        run: make build

      # From https://github.com/marketplace/actions/zensical-action#deploy
      - name: Zensical Action
        id: zensical
        uses: cssnr/zensical-action@v1





