# Create, build and deploy the website
name: Create website

on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x

      - name: Create software table
        run: python3 format_software_info.py

      # From https://github.com/marketplace/actions/zensical-action#deploy
      - name: Zensical Action
        id: zensical
        uses: cssnr/zensical-action@v1
